@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Open+Sans:wght@400&display=swap');

*{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

body {
    background-color: skyblue;
}

.head {
    background-image: url('../images/homepage.jpg');
    background-size: cover;
    background-position: top;
    padding-top: 50px;
    padding-bottom: 550px;
    color: midnightblue;
    margin: 0%;
    font-size: 100px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.nav-links {
    margin: 0%;
    padding: 20px;
    background-color: whitesmoke;
    color: midnightblue;
    font-size: 30px;
    display: flex;
    justify-content: space-evenly;
}

.BeginJourney {
    color: midnightblue;
    padding: 10px;
    font-size: 30px;
    background-color: whitesmoke;
    margin-left: 150px; 
    margin-right: 150px;
    margin-bottom: 50px;
}

main {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.China {
    background-color: whitesmoke;
    padding: 10px;
}
.China-text {
    text-align: center;
    font-size: 20px;
}
.China-Image {
    margin: auto;
    width: 100%;
    height: 30vh;
    object-fit: cover;
    display: block;
}

.Petra {
    background-color: whitesmoke;
    padding: 10px;
}
.Petra-text {
    text-align: center;
    font-size: 20px;
}
.Petra-Image {
    margin: auto;
    width: 100%;
    height: 30vh;
    display: block;
}

.Colosseum {
    background-color: whitesmoke;
    padding: 10px;
}
.Colossuem-text {
    text-align: center;
    font-size: 20px;
}
.Colosseum-Image {
    margin: auto;
    width: 100%;
    height: 30vh;
    display: block;
}

.Picchu {
    background-color: whitesmoke;
    padding: 10px;
}
.Picchu-text {
    text-align: center;
    font-size: 20px;
}
.Picchu-Image {
    margin: auto;
    width: 100%;
    height: 30vh;
    display: block;
}

.Chichen {
    background-color: whitesmoke;
    padding: 10px;
}
.Chichen-text {
    text-align: center;
    font-size: 20px;
}
.Chichen-Image {
    margin: auto;
    width: 100%;
    height: 30vh;
    display: block;
}

.Christ {
    background-color: whitesmoke;
    padding: 10px;
}
.Christ-text {
    text-align: center;
    font-size: 20px;
}
.Christ-Image {
    margin: auto;
    width: 100%;
    height: 30vh;
    display: block;
}

.Taj {
    background-color: whitesmoke;
    padding: 10px;
}
.Taj-text {
    text-align: center;
    font-size: 20px;
}
.Taj-Image {
    margin: auto;
    width: 100%;
    height: 30vh;
    display: block;
}

footer {
    background-color: darkblue;
    padding: 100px;
}
